*{
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;

}

nav {
  font-weight: bold;
}

.image-container{
  overflow: hidden;
}

.image-container img{
  opacity: 0.7;
  transition: transform 0.5s, opacity 0.5s;
}

.image-container img:hover{
  opacity: 1;
  transform: scale(1.5);

}

.navbar-default .navbar-nav > .active > a {
color: #399bd1;
background-color: transparent;
}

.navbar-default .navbar-nav > .active > a:hover {
color: #399bd1;
background-color: transparent;
}
/*jumbotron*/
.jumbotron{
  background-image: url('../../resources/images/jumbotron-bike.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  min-height: 600px;
  text-shadow: -1px -1px 0 #000000, 1px -1px 0 #000000, -1px 1px 0 #000000, 1px 1px 0 #000000;
  margin-top: 50px;
  text-align: center;
}

.jumbotron h1 {
  font-family: "Monoton", sans-serif;
  font-size: 7.1rem;
  margin-top: 11.85rem;
}

.jumbotron p{
  width: 51.3rem;
  margin: auto;
}

.jumbotron-beer{
  background-image: url('../../resources/images/jumbotron-beer.jpg');
}

.jumbotron-flowers{
  background-image: url('../../resources/images/jumbotron-flowers.jpg');
}

.jumbotron-duffel{
  background-image: url('../../resources/images/jumbotron-duffel.jpg');
}

.btn {
  width: 13rem;
  text-shadow: none;
  background-color: #399bd1;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
  margin-top: 2.8rem;
  padding: 1.3rem 0;

}

.btn:hover{
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.9);
  background-color: #399bd1;
  transition: box-shadow 0.3s ease-out;

}

.btn:active{
  box-shadow: 0 0 0 rgba(0, 0, 0, 0.5);
}

@media only screen and (max-width: 800px){
  .jumbotron h1{
    font-size: 4.7rem;
  }

  .jumbotron p{
    width: auto;
  }
}

/*featured project*/
.featured {
  color: rgba(0, 0, 0, 0.7);
}
.featured img:hover{
  text-decoration: none;
}

span {
  display: block;
}

h2{
  color: #399bd1;
  font-weight: bold;
  font-size: 2rem;
}

h3{
  font-weight: bold;
  font-size: 1.7rem;
}

/*projects*/
.projects {
  color: rgba(0, 0, 0, 0.7);
}

img{
  width: 100%;

}
.projects .col-xs-12, .projects .col-md-4{
  margin-bottom: 5.85rem;
}

.projects .he{
  margin-bottom: 1rem;
}

/*help*/
 .container-fluid{
   text-align: center;
 }

 .trouble{
   padding: 5.2rem 0;
   background-color: #f3f3f3;
 }

 strong {
  font-weight: bold;
  font-size: 2.5rem;
 }

 .trouble p{
   width: 42rem;
   margin: auto;
   padding-top: 1.4rem;
 }

 .trouble strong, .trouble p{
   color: rgba(0, 0, 0, 0.7);
 }

 a:hover{
   text-decoration: none;
 }
